@import url("../../styles/fonts.css");

.logo {
  font-family: "Quantico";
}

.logo-size-landing {
  font-size: 96px;
}

.logo-size-primary {
  font-size: 32px;
}

.logo-size-secondary {
  font-size: 20px;
}

.logo-light {
  color: white;
}

.logo-dark {
  background-color: #f3ec78;
  background-image: linear-gradient(180deg, #000000, #b4b4b4);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
